PORT=4000
SUPABASE_URL=https://gklpqutzwozwrwixwnyp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrbHBxdXR6d296d3J3aXh3bnlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3Mjc2NTIsImV4cCI6MjA4MjMwMzY1Mn0.www6k4gruOf6FED_MeWLXJ98NgoqYRy9t_iclyqg-qc